__pycache__/
*.pyc
.env

venv/
etc/
lib64/
share/
bin/
lib/
include/
pyvenv.cfg
__pypackages__/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
*.log
.env.local
.DS_Store
.idea/
.vscode/

repo_history.json
